app/inc/menu.html

<div class="menu">
  <div class="row">
    <div class="col-md-2"><a class="box-logo" href="index.html"><img src="img/iconos/logo.png" alt=""/></a></div>
    <div class="col-md-10">
      <ul class="list-inline" id="menu-principal">
        <li><a href="introduccion.html">INTRODUCCIÓN</a></li>
        <li><a class="c-red menu--active" href="conociendo.html">CONOCIENDO ALICORP</a></li>
        <li><a href="negocios.html">NUESTROS NEGOCIOS</a></li>
        <li class="pad-r"><a class="ico-menu" href="gente.html">NUESTRA GENTE</a></li>
      </ul>
      <div id="sub-menu">
        <div class="container-fluid">
          <ul class="list-inline">
            <li><a href="">¿Quiénes Somos?</a></li>
            <li><a href="">Historia</a></li>
            <li><a href="">Cultura</a></li>
            <li><a href="">Las Áreas</a></li>
            <li><a href="">Marcas</a></li>
            <li><a href="">Reconocimiento</a></li>
            <li><a href="">Autoevaluación</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

app/views/inc/menu.pug
.menu
    .row
        .col-md-2
            a.box-logo(href="index.html")
                img(src="img/iconos/logo.png", alt="")
        .col-md-10
            ul.list-inline#menu-principal

                li
                    a(href="introduccion.html") INTRODUCCIÓN
                li
                    a.c-red.menu--active(href="conociendo.html") CONOCIENDO ALICORP
                li
                    a(href="negocios.html") NUESTROS NEGOCIOS
                li.pad-r
                    a.ico-menu(href="gente.html") NUESTRA GENTE


            #sub-menu
              .container-fluid
                ul.list-inline
                    li
                        a(href='') ¿Quiénes Somos?
                    li
                        a(href='') Historia
                    li
                        a(href='') Cultura
                    li
                        a(href='') Las Áreas
                    li
                        a(href='') Marcas
                    li
                        a(href='') Reconocimiento
                    li
                        a(href='') Autoevaluación
