app/views/introduccion3.pug
extends layout
block content
    .container-wrapper
        .align-container
            .container
                include inc/menu

                .nuestros-procesos
                    p.titulo Nuestro proceso de Compromisos para el Éxito<br> tiene 3 etapas:
                    .row
                        .col-md-4.col-xs-4.colum-1.occult
                            h4.sub-titulo.c-red Etapa 1
                            .recuadro-procesos.bg-red
                                p Planificación
                            p.texto Etapa en la cual <strong>definimos</strong><br> nuestros objetivos y/o de <br><strong>desarrollo de competencias</strong>
                        .col-md-4.col-xs-4.colum-2.occult
                            h4.sub-titulo.c-green Etapa 2
                            .recuadro-procesos.bg-green
                                p Revisión de Medio año
                            p.texto Es el <strong>momento formal<br> en el que revisamos el<br> progreso de nuestros objetivos<br> y el desarrollo de nuestras competencias,</strong> a través del feedback, para asegurar el éxito de nuestro desempeño para el<br> presente año.
                        .col-md-4.col-xs-4.colum-3.occult
                            h4.sub-titulo.c-yellow Etapa 3
                            .recuadro-procesos.bg-yellow
                                p Evaluación
                            p.texto Etapa en la cual <strong>revisamos, evaluamos y reconocemos</strong> el desempeño del colaborador contrastando lo realizado versus lo planificado.
                    .row-btn
                        a.btn.btn-primary.button-crema-g.btn-l(href='introduccion2.html', role='button')
                            span.glyphicon.glyphicon-menu-left
                            | ANTERIOR
                        a.btn.btn-primary.button-crema-g.btn-r(href='introduccion4.html', role='button')
                            | SIGUIENTE
                            span.glyphicon.glyphicon-menu-right

                include inc/footer

    script(type='text/javascript').
        if (!($(".lt-ie9").length)) {
            TweenLite.to(".colum-1", 1, {opacity: 1, delay:1});
            TweenLite.from(".colum-1", 1, {scaleX:.4, scaleY:.4, delay:1, ease: "Back.easeOut"});

            TweenLite.to(".colum-2", 1, {opacity: 1, delay:1.5});
            TweenLite.from(".colum-2", 1, {scaleX:.4, scaleY:.4, delay:1.5, ease: "Back.easeOut"});

            TweenLite.to(".colum-3", 1, {opacity: 1, delay: 2.});
            TweenLite.from(".colum-3", 1, {scaleX:.4, scaleY:.4, delay:2., ease: "Back.easeOut"});



        }

app/introduccion3.html
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Alicorp-2017</title>
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css?v=1.7">
    <script src="lib/jquery/dist/jquery.min.js"></script>
    <script src="js/jquery.js"></script>
    <script src="lib/gsap/src/minified/TweenMax.min.js"></script>
  </head>
  <body>
    <div class="container-wrapper">
      <div class="align-container">
        <div class="container">
          <div class="menu">
            <div class="row">
              <div class="col-md-2"><a class="box-logo" href="index.html"><img src="img/iconos/logo.png" alt=""></a></div>
              <div class="col-md-10">
                <ul class="list-inline" id="menu-principal">
                  <li><a href="introduccion.html">INTRODUCCIÓN</a></li>
                  <li><a class="c-red menu--active" href="conociendo.html">CONOCIENDO ALICORP</a></li>
                  <li><a href="negocios.html">NUESTROS NEGOCIOS</a></li>
                  <li class="pad-r"><a class="ico-menu" href="gente.html">NUESTRA GENTE</a></li>
                </ul>
                <div id="sub-menu">
                  <div class="container-fluid">
                    <ul class="list-inline">
                      <li><a href="">¿Quiénes Somos?</a></li>
                      <li><a href="">Historia</a></li>
                      <li><a href="">Cultura</a></li>
                      <li><a href="">Las Áreas</a></li>
                      <li><a href="">Marcas</a></li>
                      <li><a href="">Reconocimiento</a></li>
                      <li><a href="">Autoevaluación</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="nuestros-procesos">
            <p class="titulo">Nuestro proceso de Compromisos para el Éxito<br> tiene 3 etapas:</p>
            <div class="row">
              <div class="col-md-4 col-xs-4 colum-1 occult">
                <h4 class="sub-titulo c-red">Etapa 1</h4>
                <div class="recuadro-procesos bg-red">
                  <p>Planificación</p>
                </div>
                <p class="texto">Etapa en la cual <strong>definimos</strong><br> nuestros objetivos y/o de <br><strong>desarrollo de competencias</strong></p>
              </div>
              <div class="col-md-4 col-xs-4 colum-2 occult">
                <h4 class="sub-titulo c-green">Etapa 2</h4>
                <div class="recuadro-procesos bg-green">
                  <p>Revisión de Medio año</p>
                </div>
                <p class="texto">Es el <strong>momento formal<br> en el que revisamos el<br> progreso de nuestros objetivos<br> y el desarrollo de nuestras competencias,</strong> a través del feedback, para asegurar el éxito de nuestro desempeño para el<br> presente año.</p>
              </div>
              <div class="col-md-4 col-xs-4 colum-3 occult">
                <h4 class="sub-titulo c-yellow">Etapa 3</h4>
                <div class="recuadro-procesos bg-yellow">
                  <p>Evaluación</p>
                </div>
                <p class="texto">Etapa en la cual <strong>revisamos, evaluamos y reconocemos</strong> el desempeño del colaborador contrastando lo realizado versus lo planificado.</p>
              </div>
            </div>
            <div class="row-btn"><a class="btn btn-primary button-crema-g btn-l" href="introduccion2.html" role="button"><span class="glyphicon glyphicon-menu-left"></span>ANTERIOR</a><a class="btn btn-primary button-crema-g btn-r" href="introduccion4.html" role="button">SIGUIENTE<span class="glyphicon glyphicon-menu-right"></span></a></div>
          </div>
          <footer>
            <div class="row">
              <div class="col-md-6">
                <p>PROGRAMA DE INDUCCIÓN</p>
              </div>
              <div class="col-md-6 text-right">
                <p>Alicorp 2017 © Todos los derechos reservados.</p>
              </div>
            </div>
          </footer>
        </div>
      </div>
    </div>
    <script type="text/javascript">
      if (!($(".lt-ie9").length)) {
          TweenLite.to(".colum-1", 1, {opacity: 1, delay:1});
          TweenLite.from(".colum-1", 1, {scaleX:.4, scaleY:.4, delay:1, ease: "Back.easeOut"});
      
          TweenLite.to(".colum-2", 1, {opacity: 1, delay:1.5});
          TweenLite.from(".colum-2", 1, {scaleX:.4, scaleY:.4, delay:1.5, ease: "Back.easeOut"});
      
          TweenLite.to(".colum-3", 1, {opacity: 1, delay: 2.});
          TweenLite.from(".colum-3", 1, {scaleX:.4, scaleY:.4, delay:2., ease: "Back.easeOut"});
      
      
      
      }
    </script>
    <script src="js/jquery-ui.min.js"></script>
    <script src="lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/ultimo.js"></script>
  </body>
</html>
