app/introduccion1.html
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Alicorp-2017</title>
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css?v=1.7">
    <script src="lib/jquery/dist/jquery.min.js"></script>
    <script src="js/jquery.js"></script>
    <script src="lib/gsap/src/minified/TweenMax.min.js"></script>
  </head>
  <body>
    <div class="container-wrapper">
      <div class="align-container">
        <div class="container">
          <div class="menu">
            <div class="row">
              <div class="col-md-2"><a class="box-logo" href="index.html"><img src="img/iconos/logo.png" alt=""></a></div>
              <div class="col-md-10">
                <ul class="list-inline" id="menu-principal">
                  <li><a href="introduccion.html">INTRODUCCIÓN</a></li>
                  <li><a class="c-red menu--active" href="conociendo.html">CONOCIENDO ALICORP</a></li>
                  <li><a href="negocios.html">NUESTROS NEGOCIOS</a></li>
                  <li class="pad-r"><a class="ico-menu" href="gente.html">NUESTRA GENTE</a></li>
                </ul>
                <div id="sub-menu">
                  <div class="container-fluid">
                    <ul class="list-inline">
                      <li><a href="">¿Quiénes Somos?</a></li>
                      <li><a href="">Historia</a></li>
                      <li><a href="">Cultura</a></li>
                      <li><a href="">Las Áreas</a></li>
                      <li><a href="">Marcas</a></li>
                      <li><a href="">Reconocimiento</a></li>
                      <li><a href="">Autoevaluación</a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="content-general">
            <div class="content-mapa-y">
              <ul class="list-inline" id="menu-principal">
                <li><a href="introduccion.html">INTRODUCCIÓN</a></li>
                <li><a class="c-red menu--active" href="conociendo.html">CONOCIENDO ALICORP</a></li>
                <li><a href="negocios.html">NUESTROS NEGOCIOS</a></li>
                <li class="pad-r"><a class="ico-menu" href="gente.html">NUESTRA GENTE</a></li>
                <li><a href="negocios.html">NUESTROS NEGOCIOS</a></li>
                <li class="pad-r"><a class="ico-menu" href="gente.html">NUESTRA GENTE</a></li>
                <li><a href="negocios.html">NUESTROS NEGOCIOS</a></li>
                <li class="pad-r"><a class="ico-menu" href="gente.html">NUESTRA GENTE</a></li>
                <li><a href="negocios.html">NUESTROS NEGOCIOS</a></li>
                <li class="pad-r"><a class="ico-menu" href="gente.html">NUESTRA GENTE</a></li>
                <li><a href="negocios.html">NUESTROS NEGOCIOS</a></li>
                <li class="pad-r"><a class="ico-menu" href="gente.html">NUESTRA GENTE</a></li>
                <li><a href="negocios.html">NUESTROS NEGOCIOS</a></li>
                <li class="pad-r"><a class="ico-menu" href="gente.html">NUESTRA GENTE</a></li>
                <li><a href="negocios.html">NUESTROS NEGOCIOS</a></li>
                <li class="pad-r"><a class="ico-menu" href="gente.html">NUESTRA GENTE</a></li>
                <li><a href="negocios.html">NUESTROS NEGOCIOS</a></li>
                <li class="pad-r"><a class="ico-menu" href="gente.html">NUESTRA GENTE</a></li>
                <li><a href="negocios.html">NUESTROS NEGOCIOS</a></li>
                <li class="pad-r"><a class="ico-menu" href="gente.html">NUESTRA GENTE</a></li>
                <li><a href="negocios.html">NUESTROS NEGOCIOS</a></li>
                <li class="pad-r"><a class="ico-menu" href="gente.html">NUESTRA GENTE</a></li>
              </ul>
            </div>
          </div>
          <div class="row-btn"><a class="btn btn-primary button-g btn-l" href="introduccion5.html" role="button"><span class="icon-keyboard_arrow_left"></span></a><a class="btn btn-primary button-g btn-r" href="feedback-taller1.html" role="button"><span class="icon-keyboard_arrow_right"></span></a></div>
          <footer>
            <div class="row">
              <div class="col-md-6">
                <p>PROGRAMA DE INDUCCIÓN</p>
              </div>
              <div class="col-md-6 text-right">
                <p>Alicorp 2017 © Todos los derechos reservados.</p>
              </div>
            </div>
          </footer>
        </div>
      </div>
    </div>
    <script src="js/jquery-ui.min.js"></script>
    <script src="lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
    <script src="js/ultimo.js"></script>
  </body>
</html>

app/views/introduccion1.pug
extends layout
block content
    .container-wrapper
        .align-container
            .container
                include inc/menu
                .content-general
                    .content-mapa-y
                        ul.list-inline#menu-principal

                            li
                                a(href="introduccion.html") INTRODUCCIÓN
                            li
                                a.c-red.menu--active(href="conociendo.html") CONOCIENDO ALICORP
                            li
                                a(href="negocios.html") NUESTROS NEGOCIOS
                            li.pad-r
                                a.ico-menu(href="gente.html") NUESTRA GENTE
                            li
                                a(href="negocios.html") NUESTROS NEGOCIOS
                            li.pad-r
                                a.ico-menu(href="gente.html") NUESTRA GENTE
                            li
                                a(href="negocios.html") NUESTROS NEGOCIOS
                            li.pad-r
                                a.ico-menu(href="gente.html") NUESTRA GENTE
                            li
                                a(href="negocios.html") NUESTROS NEGOCIOS
                            li.pad-r
                                a.ico-menu(href="gente.html") NUESTRA GENTE
                            li
                                a(href="negocios.html") NUESTROS NEGOCIOS
                            li.pad-r
                                a.ico-menu(href="gente.html") NUESTRA GENTE
                            li
                                a(href="negocios.html") NUESTROS NEGOCIOS
                            li.pad-r
                                a.ico-menu(href="gente.html") NUESTRA GENTE
                            li
                                a(href="negocios.html") NUESTROS NEGOCIOS
                            li.pad-r
                                a.ico-menu(href="gente.html") NUESTRA GENTE
                            li
                                a(href="negocios.html") NUESTROS NEGOCIOS
                            li.pad-r
                                a.ico-menu(href="gente.html") NUESTRA GENTE
                            li
                                a(href="negocios.html") NUESTROS NEGOCIOS
                            li.pad-r
                                a.ico-menu(href="gente.html") NUESTRA GENTE
                            li
                                a(href="negocios.html") NUESTROS NEGOCIOS
                            li.pad-r
                                a.ico-menu(href="gente.html") NUESTRA GENTE


                .row-btn
                    a.btn.btn-primary.button-g.btn-l(href='introduccion5.html', role='button')
                        span.icon-keyboard_arrow_left
                    a.btn.btn-primary.button-g.btn-r(href='feedback-taller1.html', role='button')
                        span.icon-keyboard_arrow_right

                include inc/footer
